<ion-header>
  <ion-toolbar>
    <ion-title>プランの選択</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="onSignOutButtonClicked()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        プラン名<br>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      テスト<br>
      テスト<br>
      テスト<br>
      テスト<br>
    </ion-card-content>
  </ion-card>

  <ion-slides #sliders [options]="slideConfig">
    <ion-slide *ngFor="let plan of planItems">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            {{plan.title}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          テスト
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <p>
    <ion-chip outline color="secondary" (click)="payment()">
      <ion-label>続ける</ion-label>
    </ion-chip>
  </p>
  <ion-item  (click)="cancel()">
    <ion-label>
      プランを解約する
    </ion-label>
  </ion-item>

</ion-content>
