<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stripe TEST
    </ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="onSignOutButtonClicked()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-chip outline color="secondary" (click)="paymentIntent()">
    <ion-label>ペイメント インテント方式</ion-label>
  </ion-chip>
  <ion-chip outline color="secondary" (click)="redirectToCheckout()">
    <ion-label>リダイレクト チェックアウト方式</ion-label>
  </ion-chip> -->
  <!-- payment component -->
  <app-payment></app-payment>
</ion-content>
